body{
  margin:0;
  font-family:Arial;
  background:#0b1d3a;
}

/* TOP BAR */
.topbar{
  display:flex;
  justify-content:space-between;
  align-items:center;
  background:#111;
  color:white;
  padding:10px;
  flex-wrap:wrap;
}

#searchBar{
  padding:5px;
  width:40%;
}

.cartBtn{
  color:white;
  text-decoration:none;
}

/* SLIDER */
.slider img{
  width:100%;
  height:200px;
  object-fit:cover;
}

/* CATEGORY LINE */
.categoryLine{
  background:#f8bbd0;
  padding:10px;
  text-align:center;
  font-weight:bold;
}

/* PRODUCT CARD */
.card{
  background:white;
  margin:10px;
  padding:10px;
  border-radius:10px;
  text-align:center;
}

.card img{
  width:100px;
}

/* QTY */
.qty button{
  padding:5px;
}

/* CART */
#cartBox{
  background:#111;
  color:white;
  padding:10px;
}

/* MOBILE */
@media(max-width:600px){
  #searchBar{width:100%;}
}
